%footer#main-footer
  %div.container
    %div.row
      %div.col-sm-6.left-col
        %h1.small-logo
          Sigma Group
          %br
          %span 
            Developers
        %ul.footer-nav
          %li
            %a.scrollto{ :href => "#home"} Home
          %li
            %a.scrollto{ :href => "#services"} Services
          %li
            %a.scrollto{ :href => "#portfolio"} Portfolio
          %li
            %a.scrollto{ :href => "#contact"} Contact
        %p &copy;Copyright 2014 / All Rights Reserved
      %div.col-sm-6.right-col
        %h2 Who are we?
        %p We are enthusiasts, who enjoy the online digital and offline world. We make high quality software applications that solve business problems.
