%header#home.jumbotron
  %div.container
    %div.message-box.clearfix
      %div.left-col
        %p
          We ARE 
          %span Sigma Group
          %br
          we are Software
      %div.right-col.flexslider.home-slider
        %ul.slides
          %li
            %p Designer
          %li 
            %p Developer
          %li 
            %p Expert


