%div#main-nav.navbar.navbar-fixed-top{ :role => "navigation" }
  %div.container
    %div.navbar-header
      %button{ :type => "button", :class => "navbar-toggle", "data-target" => "#site-nav"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.scrollto{ :href => "#home"}
        %br
        Sigma Group
    %div#site-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.sr-only
          %a.scrollto{ :href => "#home" } Home  
        %li
          %a.scrollto{ :href => "#services"} What we do
        %li
          %a.scrollto{ :href => "#about"} About
        %li
          %a.scrollto{ :href => "#portfolio"} Our Works
        %li
          %a.scrollto{ :href => "#contact"}Contact Us