%section#portfolio
  %div#portfolio-header.text-center
    %h1.section-title.scrollimation.scale-in
      The
      %span works
      We are proud of
      %i.icon-pencil
    %div#filter-works
      %ul
        %li.active
          %a{ :href => "#fake", "data-filter" => "*"} All
        %li
          %a{ :href => "#fake", "data-filter" => ".web-design"} Web Design
        %li
          %a{ :href => "#fake", "data-filter" => ".icons"} Icons
        %li
          %a{ :href => "#fake", "data-filter" => ".ui-kits"} UI Kits
  
  %div.container.masonry-wrapper.scrollimation.fade-in
    %div#projects-container
      %a.project-item.web-design{ :href => "http://www.google.com", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""}
        %div.hover-mask
          %h2.project-title Project 1
          %p google.com
        %div.sr-only.project-description
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.

      %a.project-item.icons.ui-kits{ :href => "#somelink", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""}
        %div.hover-mask
          %h2.project-title Project 2
          %p microsoft.com
        %div.sr-only.project-description
          %p.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu. Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
        
      %a.project-item.web-design.ui-kits{ :href => "#somelink", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""}
        %div.hover-mask
          %h2.project-title Project 3
          %p amazon.com
        %div.sr-only.project-description
          %p.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.</p>
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
      
      %a.project-item.ui-kits{ :href => "http://www.google.com", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""}
        %div.hover-mask
          %h2.project-title Project 4
          %p google.com
        %div.sr-only.project-description
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
      
      %a.project-item.icons{ :href => "#somelink", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""}
        %div.hover-mask
          %h2.project-title Project 5
          %p microsoft.com
        %div.sr-only.project-description
          %p.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu. Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
      
      %a.project-item.web-design{ :href => "#somelink", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""} 
        %div.hover-mask
          %h2.project-title Project 6
          %p amazon.com
        %div.sr-only.project-description
          %p.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
      %a.project-item.web-design{ :href => "http://www.google.com", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""} 
        %div.hover-mask
          %h2.project-title Project 7
          %p google.com
        %div.sr-only.project-description
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.
       
      %a.project-item.icons{ :href => "#somelink", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""} 
        
        %div.hover-mask
          %h2.project-title Project 8
          %p microsoft.com
        %div.sr-only.project-description
          %p.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu. Nam eget urna pellentesque nisl ultrices dapibus. Mauris accumsan vehicula nisl, sed tempus mauris facilisis eu. Donec a iaculis nisi, quis malesuada justo. Pellentesque ut enim sit amet ipsum dignissim egestas. Morbi tincidunt rhoncus urna eget placerat.

      %a.project-item.web-design{ :href => "#somelink", "data-images" => "assets/projects/project-slide.jpg, assets/projects/project-slide.jpg, assets/projects/project-slide.jpg"}
        
        %img.img-responsive.project-image{ :src => "assets/projects/project-thumb.jpg", :alt => ""}
        %div.hover-mask
          %h2.project-title Project 9
          %p amazon.com
        
        %div.sr-only.project-description
          %p.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. Nulla suscipit erat nibh, ut porttitor nisl dapibus eu.
          %img.img-responsive.img-center{ :src => "assets/projects/company-logo.png", :alt => ""}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien risus, blandit at fringilla ac, varius sed dolor. Donec augue lacus, vulputate sed consectetur facilisis, interdum pharetra ligula. 

  %div#project-modal.modal.fade
    %div.modal-dialog
      %div.modal-content
        %div.modal-header
          %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %div.modal-body
          %div.left-col
            %img.img-responsive{ :src => "assets/imac.png", :alt => ""}
            %div.loader
            %div.image-wrapper
          %h1>
          %div.project-descr"
          
          %div.clearfix
          
          %p.text-center
            %a.btn.btn-theme
              %i.icon-external-link
              Visit Website