%section#services
  %div.container
    %h1.section-title.scrollimation.scale-in
      The 
      %span Services
      We offer
      %i.icon-wrench
    %div.row.services.scrollimation.fade-left
      %div.col-md-3.text-center
        %a.icon{ :href => "#fakelink" }
          %i.icon-flag
        %h2 APPLICATIONS
      %div.col-md-3.details
        %p Business application development is our core competence. We will handle your entire project lifecycle: from requirements analysis to QA and server deployment to ensure projects are completed quickly.
      %div.col-md-3.text-center
        %a.icon{ :href => "#fakelink" }
          %i.icon-code
        %h2 Project Management
      %div.col-md-3.details
        %p At every stage of the development process, from conceptual design to product release, the highest quality standards are maintained.
    %div.row.line.visible-md.visible-lg
      %div.col-md-3
        %span.spot
      %div.col-md-3
        %span.spot
      %div.col-md-3
        %span.spot
      %div.col-md-3
        %span.spot
    %div.row.services.bottom-row.scrollimation.fade-right
      %div.col-md-3.text-center.col-md-push-3
        %h2 Design
        %a.icon{ :href => "#fakelink" }
          %i.icon-pencil
      %div.col-md-3.details.col-md-pull-3
        %p Great user experience is critical to the success of any project; whether it's a web-site or business software. We will create professional, mobile friendly, responsive designs for you.
      %div.col-md-3.text-center.col-md-push-3
        %h2 Rocket Science
        %a.icon{ :href => "#fakelink" }
          %i.icon-rocket
      %div.col-md-3.details.col-md-pull-3
        %p We use a set of techniques and tools for process improvement. We rely on team collaboration  to improve performance; by systematically removing waste (i.e. defects, overproduction, waiting, non-utilized talent, transportation, inventory, motion, extra-processing.)