%section#skills
  %div.container
    %div.row.skills
      %p We spend our time
      %div.col-sm-6.col-md-3.text-center
        %span.chart{ "data-percent" => "45"}
          %span.percent 65
        %h2.text-center Working on custom business applications
      %div.col-sm-6.col-md-3.text-center
        %span.chart{ "data-percent" => "45"}
          %span.percent 25
        %h2.text-center Creating unique software solutions
      %div.col-sm-6.col-md-3.text-center
        %span.chart{ "data-percent" => "10"}
          %span.percent 10
        %h2.text-center Working on process improvements with our partners