%section#twitter
  %div.container
    %div.row.scrollimation.fade-in
      %div.col-sm-1.twitter-icon
        %i.icon-twitter
      %div.col-sm-11
        %div#twitter-slider.flexslider{ "data-widget-id" => "345690956013633536", "data-tweets-length" => "5"}